<html>
  <head>
<!--    <link rel=stylesheet type=text/css href='{{ url_for('static', 
      filename='styles.css') }}'>
--!>
  </head>
  <body>
    <h1>Item Catalog</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <div>
    {% if not items %}
      <p style='color:red'><strong>No items have been created. Add one?</strong></p>
      <a href='{{ url_for('newItem') }}'>Create a new item</a>

    {% else %}
      <a href='{{ url_for('newItem') }}'>Create a new item</a>
      <br>
      {% for category in categories %}
        <h3>
        <a href='#'>{{ category.name }}</a>
        </h3>
        <br>
      {% endfor %}
      <div>
      {% for item in items %}
        <h3>
        <a href='{{ url_for('itemListing', categoryName=item.category.name, itemName=item.name) }}'>{{ item.name }}</a>
        </h3>
      {% endfor %}
    {% endif %}
  </body>
</html>
